body {
  background-color: #3d3d3d;
  text-align: center;
  margin: 0 auto;
}
h1 {
  color: white;
  font-family: 'Archivo Black', sans-serif;
}
.buttons {
  margin: 0px 0px 15px 0px;
}
button {
  margin: 8px;
  border: none;
  text-decoration: none;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
  color: #757575;;
  padding: 1em;
}
button:hover {
  opacity: .8;
}
.fishButton {
  background-color: #ffc49c;
}
.lizButton {
  background-color: #9dff83;
}
.hamButton {
  background-color: #fcf08d;
}
.allButton{
  background-color: #b44552;
  color: white;
}
#petContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
}
#petContainer > div {
  background-color:white;
  text-align: center;
  border: 2px solid dimgrey;
  margin: 10px;
  padding: 0px;
}
.nameH3 {
  color: white;
  background-color: #b44552;
  padding: 15px 0px;
  margin: 0px;
  font-family: 'Fjalla One', sans-serif;
}
h4 {
  font-family: 'Viga', sans-serif;
  margin: 15px 0px 5px 0px;
}
p  {
  margin: 0px 0px 15px 0px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.Lizard {
  color: #757575;
  align-content: center;
  background-color: #9dff83;
  margin: 0px;
  padding: 15px 0px 15px 0px;
  font-family: 'Fjalla One', sans-serif;
}
.Hamster {
  color: #757575;
  align-content: center;
  background-color: #fcf08d;
  margin: 0px;
  padding: 15px 0px 15px 0px;
  font-family: 'Fjalla One', sans-serif;
}
.Fish {
  color: #757575;
  align-content: center;
  background-color: #ffc49c;
  margin: 0px;
  padding: 15px 0px 15px 0px;
  font-family: 'Fjalla One', sans-serif;
}
